In [2]:
import pandas as pd

# Matplotlib for additional customization
from matplotlib import pyplot as plt
%matplotlib inline

# Seaborn for plotting and styling
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
dataset = pd.read_csv('sample_data/petrol_consumption.csv')

In [5]:
dataset.sample(4)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
18,7.0,4716,5915,0.724,865
20,7.0,4593,7834,0.663,649
27,7.5,3846,9061,0.579,631
31,7.0,3333,6594,0.513,554

In [6]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [7]:
dataset.shape

(48, 5)

In [8]:
x = dataset[['Petrol_tax', 'Average_income', 'Paved_Highways','Population_Driver_licence(%)']]
y = dataset['Petrol_Consumption']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [10]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
regressor.intercept_

425.5993322032422

In [12]:
regressor.coef_

array([-4.00166602e+01, -6.54126674e-02, -4.74073380e-03,  1.34186212e+03])

In [13]:
y_pred = regressor.predict(x_test)

In [14]:
df = pd.DataFrame({'Actual Value':y_test, 'Predicted Value':y_pred})
df

    Actual Value  Predicted Value
29           534       469.391989
4            410       545.645464
26           577       589.668394
30           571       569.730413
32           577       649.774809
37           704       646.631164
34           487       511.608148
40           587       672.475177
7            467       502.074782
10           580       501.270734

In [17]:
r2_score(y_test,y_pred)

0.20361932410121797

4666.344787588363

In [20]:
import sklearn

In [1]:
# dir(sklearn.metrics)

In [15]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 56.822247478964684