<h2>Dimension Reduction</h2>
A high-dimensional dataset is a dataset that has a great number of columns 
(or variables). Such a dataset presents many mathematical or computational challenges.

The good news is that if variables are correlated â€” We can transform the variables to a new set of variables without losing much information. this is called dimension reduction.

Principal Component Analysis (PCA) is probably the most popular technique for the dimension reduction.

In [2]:
import pandas as pd
import numpy as np 
from sklearn import linear_model
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA,TruncatedSVD

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
df_x = pd.DataFrame(boston.data, columns=boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [3]:
reg = linear_model.LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.2, random_state=4)
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [4]:
reg.score(x_test,y_test)

0.7263451459702523

In [5]:
df_x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
pca = PCA(n_components=10, whiten='True')
x = pca.fit(df_x).transform(df_x)

In [7]:
pca.explained_variance_

array([3.08899113e+04, 6.25033006e+03, 8.18363958e+02, 2.66684838e+02,
       4.98315275e+01, 2.78767934e+01, 1.60633859e+01, 9.52731770e+00,
       3.27333185e+00, 1.18094181e+00])

In [8]:
reg = linear_model.LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x,df_y,test_size=0.2, random_state=4)
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
reg.score(x_test,y_test)

0.6901733717990524

In [10]:
svd = TruncatedSVD(n_components = 10)
x = svd.fit(df_x).transform(df_x)
reg = linear_model.LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x,df_y,test_size=0.2, random_state=4)
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
reg.score(x_test,y_test)

0.6822252753655192

In [12]:
df_x.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000

['1. Title of Database: Wine recognition data\n',
 '\tUpdated Sept 21, 1998 by C.Blake : Added attribute information\n',
 '\n',
 '2. Sources:\n',
 '   (a) Forina, M. et al, PARVUS - An Extendible Package for Data\n',
 '       Exploration, Classification and Correlation. Institute of Pharmaceutical\n',
 '       and Food Analysis and Technologies, Via Brigata Salerno, \n',
 '       16147 Genoa, Italy.\n',
 '\n',
 '   (b) Stefan Aeberhard, email: stefan@coral.cs.jcu.edu.au\n',
 '   (c) July 1991\n',
 '3. Past Usage:\n',
 '\n',
 '   (1)\n',
 '   S. Aeberhard, D. Coomans and O. de Vel,\n',
 '   Comparison of Classifiers in High Dimensional Settings,\n',
 '   Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of\n',
 '   Mathematics and Statistics, James Cook University of North Queensland.\n',
 '   (Also submitted to Technometrics).\n',
 '\n',
 '   The data was used with many others for comparing various \n',
 '   classifiers. The classes are separable, though only RDA \n',
 '   has achieved 100% correct classification.\n',
 '   (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))\n',
 '   (All results using the leave-one-out technique)\n',
 '\n',
 '   In a classification context, this is a well posed problem \n',
 '   with "well behaved" class structures. A good data set \n',
 '   for first testing of a new classifier, but not very \n',
 '   challenging.\n',
 '\n',
 '   (2) \n',
 '   S. Aeberhard, D. Coomans and O. de Vel,\n',
 '   "THE CLASSIFICATION PERFORMANCE OF RDA"\n',
 '   Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of\n',
 '   Mathematics and Statistics, James Cook University of North Queensland.\n',
 '   (Also submitted to Journal of Chemometrics).\n',
 '\n',
 '   Here, the data was used to illustrate the superior performance of\n',
 '   the use of a new appreciation function with RDA. \n',
 '\n',
 '4. Relevant Information:\n',
 '\n',
 '   -- These data are the results of a chemical analysis of\n',
 '      wines grown in the same region in Italy but derived from three\n',
 '      different cultivars.\n',
 '      The analysis determined the quantities of 13 constituents\n',
 '      found in each of the three types of wines. \n',
 '\n',
 '   -- I think that the initial data set had around 30 variables, but \n',
 '      for some reason I only have the 13 dimensional version. \n',
 '      I had a list of what the 30 or so variables were, but a.) \n',
 '      I lost it, and b.), I would not know which 13 variables\n',
 '      are included in the set.\n',
 '\n',
 '   -- The attributes are (dontated by Riccardo Leardi, \n',
 '\triclea@anchem.unige.it )\n',
 ' \t1) Alcohol\n',
 ' \t2) Malic acid\n',
 ' \t3) Ash\n',
 '\t4) Alcalinity of ash  \n',
 ' \t5) Magnesium\n',
 '\t6) Total phenols\n',
 ' \t7) Flavanoids\n',
 ' \t8) Nonflavanoid phenols\n',
 ' \t9) Proanthocyanins\n',
 '\t10)Color intensity\n',
 ' \t11)Hue\n',
 ' \t12)OD280/OD315 of diluted wines\n',
 ' \t13)Proline            \n',
 '\n',
 '5. Number of Instances\n',
 '\n',
 '      \tclass 1 59\n',
 '\tclass 2 71\n',
 '\tclass 3 48\n',
 '\n',
 '6. Number of Attributes \n',
 '\t\n',
 '\t13\n',
 '\n',
 '7. For Each Attribute:\n',
 '\n',
 '\tAll attributes are continuous\n',
 '\t\n',
 '\tNo statistics available, but suggest to standardise\n',
 '\tvariables for certain uses (e.g. for us with classifiers\n',
 '\twhich are NOT scale invariant)\n',
 '\n',
 '\tNOTE: 1st attribute is class identifier (1-3)\n',
 '\n',
 '8. Missing Attribute Values:\n',
 '\n',
 '\tNone\n',
 '\n',
 '9. Class Distribution: number of instances per class\n',
 '\n',
 '      \tclass 1 59\n',
 '\tclass 2 71\n',
 '\tclass 3 48\n']

In [6]:


dataset = pd.read_csv("sample_data\")

In [ ]:
X = dataset.iloc[:, 0:13]
y = dataset.iloc[:, 13]